@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

h1, h2, p, a, span {
	color: black;
	font-family: 'Nanum Gothic', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
	font-size: 15px;
}

hr {
	width: 100%;
	margin: 0;
	color: gray;
	border-width: 1px 0 0 0;
	border-style: solid;
}

body {
	background-color: white;
	width: 950px;
	height: 1725px;
	margin: 6em auto;
}

.radius-box {
	border-radius: 5px;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 25px;
	width: 100%;
}

.main-nav {
	padding: 0 20px;
	width: 100%;
}

.main-nav-bar {
	display: flex;
	height: 80px;
	justify-content: space-around;
	width: 100%;
	height: 80px;
}

.main-nav-list {
	display: flex;
	justify-content: flex-start;
	width: 800px;
}

.main-nav-item {
	display: block;
	width: 125px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.main-nav-link {
	font-size: 20px;
	font-style: bold;
	font-weight: bold;
}

.main-nav-cart {
	display: flex;
	align-items: center;
}

.cart-icon-area {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #396496;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	width: 60px;
}

.sub-nav-list {
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
	width: 800px;
}

.sub-nav-item {
	display: block;
	margin: 5px;
	padding: 5px;
	background-color: gray;
	border-radius: 5px;
}

.sub-nav-link {
	color: white;
	text-align: center;
	font-size: 17px;
}

main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.prod-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 360px;
	width: 300px;
	margin-bottom: 20px;
}

.prod-box-btn {
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
	width: 300px;
}

.prod-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	background-color: white;
	text-align: center;
}

.summary-btn-box {
	background: #EAEAEA;
	border: 1px solid #BDBDBD;
	border-radius: 5%;
}

.pick-btn-box {
	background: #396496;
	border: 1px solid #225796;
	color: white;
	border-radius: 2%;
	cursor: pointer;
}

.summary-btn-a, .pick-btn-a {
	width: 150px;
	height: 50px;
}

.summary-btn-span, .pick-btn-span {
	font-size: 13pt;
	font-weight: bold;
	line-height: 50px;
}

.pick-btn-span {
	color: white;
}

.prod-box-img img {
	border-radius: 2%;
	width: 100%;
	height: 425px;
}

.prod-box-text {
	margin: 5px 0;
}

.fiction-title {
	font-size: 15pt;
	font-weight: bold;
}

.fictions-scroll {
	width: 550px;
	height: 550px;
	border: 1px solid #396496;
	width: 550px;
}

.scroll-title {
	width: 550px;
	height: 50px;
	background-color: #396496;
}

.scroll-title-list {
	display: flex;
	justify-content: space-between;
}

.scroll-title-item {
	line-height: 50px;
	width: 50px;
	text-align: center;
	color: white;
}

.scroll-fiction {
	width: 550px;
	height: 120px;
	background-color: white;
}
.scroll-fiction-list {
	display: flex;
	justify-content: space-between;
}
.scroll-fiction-item {
	line-height: 120px;
	text-align: center;
}

.payment-box {
	width: 350px;
}

.payment-price{
	width: 100%;
	height: 350px;
	border: 1px solid #396496;
}

.payment-btn {
	width: 100%;
	height: 50px;
	border: 1px solid #396496; 
	align-self: flex-end;
	margin-top: 20px;
	background-color : #396496;
}

.payment-btn-span {
	width: 100%;
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
	color: white;
}